<app-head></app-head>
<div class="container-fuild">
    <div class="row">
        <div class="col-xs-2 col-xs-offset-1">
            <div class="leftImage">
                <button type="button" class="btn btn-default btn-lg btn-all">
                    <span class="glyphicon glyphicon-duplicate" aria-hidden="true"></span> 我的游记
                </button>
                <br><br>
                <button type="button" class="btn btn-default btn-lg btn-all">
                    <span class="glyphicon glyphicon-duplicate" aria-hidden="true"></span> 我的结伴
                </button>
            </div>
        </div>
        
        <div class="col-xs-8">
          <div class="rightImage">我的游记</div><hr>
          <div class="row">
            <div class="select">
            <button class="btn btn-warning ">保存修改</button>
            </div>
          </div>
            <hr>
        </div>        
    </div>    
</div>




