<!-- 第一行 -->
<hr>
<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-5">
        <div class="row" (click)="doTravelDetails()">
            <div class="col-md-2"></div>
            <div class="col-md-3">
                <h2>出游攻略</h2>
                <p>发布时间:2017年9月16日</p>
                <h3>作者</h3>
                <img src="../../../assets/img/userImg/user01.jpeg" class="writerImg">
                <p class="authorName">暖暖的旅行</p>         
            </div>
            <div class="col-md-7">
                <div class="text_right">
                    <img src="../../../assets/img/artimg/art (1).jpeg" class="travelImg">
                    <h4>山西所见--崛围山感受秋之美</h4>
                    <p>时间:10月19日 地点:崛围山（太原市西北方向-呼延村）人物:勇子、袁袁、包子、阿紫、tiger......</p>  
                </div>
            </div>            
        </div>
    </div>
    <div class="col-md-5">
        <div class="row">
            <div class="col-md-3">
                <h2>旅行日记</h2>
                <p>发布时间:2017年9月16日</p>
                <h3>作者</h3>
                <img src="../../../assets/img/userImg/user01.jpeg" class="writerImg">
                <p class="authorName">暖暖的旅行</p>  
            </div>
            <div class="col-md-7">
                <div class="text_right">
                    <img src="../../../assets/img/artimg/art (2).jpeg" class="travelImg">
                    <h4>山西所见--崛围山感受秋之美</h4>
                    <p>时间:10月19日 地点:崛围山（太原市西北方向-呼延村）人物:勇子、袁袁、包子、阿紫、tiger......</p>                          
                </div>
            </div>
            <div class="col-md-2"></div>     
        </div>
    </div>
    <div class="col-md-1"></div>
</div>
<br>

<!-- 第二行 -->
<div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-5">
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-3">
                    <h2>出游攻略</h2>
                    <p>发布时间:2017年9月16日</p>
                    <h3>作者</h3>
                    <img src="../../../assets/img/userImg/user01.jpeg" class="writerImg">
                    <p class="authorName">暖暖的旅行</p>         
                </div>
                <div class="col-md-7">
                    <div class="text_right">
                        <img src="../../../assets/img/artimg/art (3).jpeg" class="travelImg">
                        <h4>山西所见--崛围山感受秋之美</h4>
                        <p>时间:10月19日 地点:崛围山（太原市西北方向-呼延村）人物:勇子、袁袁、包子、阿紫、tiger......</p>  
                    </div>
                </div>            
            </div>
        </div>
        <div class="col-md-5">
            <div class="row">
                <div class="col-md-3">
                    <h2>旅行日记</h2>
                    <p>发布时间:2017年9月16日</p>
                    <h3>作者</h3>
                    <img src="../../../assets/img/userImg/user01.jpeg" class="writerImg">
                    <p class="authorName">暖暖的旅行</p>  
                </div>
                <div class="col-md-7">
                    <div class="text_right">
                        <img src="../../../assets/img/artimg/art (4).jpeg" class="travelImg">
                        <h4>山西所见--崛围山感受秋之美</h4>
                        <p>时间:10月19日 地点:崛围山（太原市西北方向-呼延村）人物:勇子、袁袁、包子、阿紫、tiger......</p>                          
                    </div>
                </div>
                <div class="col-md-2"></div>     
            </div>
        </div>
        <div class="col-md-1"></div>
    </div>
    <br>
<!-- 第三行 -->
<div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-5">
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-3">
                    <h2>出游攻略</h2>
                    <p>发布时间:2017年9月16日</p>
                    <h3>作者</h3>
                    <img src="../../../assets/img/userImg/user01.jpeg" class="writerImg">
                    <p class="authorName">暖暖的旅行</p>         
                </div>
                <div class="col-md-7">
                    <div class="text_right">
                        <img src="../../../assets/img/artimg/art (1).jpeg" class="travelImg">
                        <h4>山西所见--崛围山感受秋之美</h4>
                        <p>时间:10月19日 地点:崛围山（太原市西北方向-呼延村）人物:勇子、袁袁、包子、阿紫、tiger......</p>  
                    </div>
                </div>            
            </div>
        </div>
        <div class="col-md-5">
            <div class="row">
                <div class="col-md-3">
                    <h2>旅行日记</h2>
                    <p>发布时间:2017年9月16日</p>
                    <h3>作者</h3>
                    <img src="../../../assets/img/userImg/user01.jpeg" class="writerImg">
                    <p class="authorName">暖暖的旅行</p>  
                </div>
                <div class="col-md-7">
                    <div class="text_right">
                        <img src="../../../assets/img/artimg/art (2).jpeg" class="travelImg">
                        <h4>山西所见--崛围山感受秋之美</h4>
                        <p>时间:10月19日 地点:崛围山（太原市西北方向-呼延村）人物:勇子、袁袁、包子、阿紫、tiger......</p>                          
                    </div>
                </div>
                <div class="col-md-2"></div>     
            </div>
        </div>
        <div class="col-md-1"></div>
    </div>
    <br>

<!-- 第四行 -->
<div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-5">
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-3">
                    <h2>出游攻略</h2>
                    <p>发布时间:2017年9月16日</p>
                    <h3>作者</h3>
                    <img src="../../../assets/img/userImg/user01.jpeg" class="writerImg">
                    <p class="authorName">暖暖的旅行</p>         
                </div>
                <div class="col-md-7">
                    <div class="text_right">
                        <img src="../../../assets/img/artimg/art (3).jpeg" class="travelImg">
                        <h4>山西所见--崛围山感受秋之美</h4>
                        <p>时间:10月19日 地点:崛围山（太原市西北方向-呼延村）人物:勇子、袁袁、包子、阿紫、tiger......</p>  
                    </div>
                </div>            
            </div>
        </div>
        <div class="col-md-5">
            <div class="row">
                <div class="col-md-3">
                    <h2>旅行日记</h2>
                    <p>发布时间:2017年9月16日</p>
                    <h3>作者</h3>
                    <img src="../../../assets/img/userImg/user01.jpeg" class="writerImg">
                    <p class="authorName">暖暖的旅行</p>  
                </div>
                <div class="col-md-7">
                    <div class="text_right">
                        <img src="../../../assets/img/artimg/art (4).jpeg" class="travelImg">
                        <h4>山西所见--崛围山感受秋之美</h4>
                        <p>时间:10月19日 地点:崛围山（太原市西北方向-呼延村）人物:勇子、袁袁、包子、阿紫、tiger......</p>                          
                    </div>
                </div>
                <div class="col-md-2"></div>     
            </div>
        </div>
        <div class="col-md-1"></div>
    </div>
    <br>

<!-- 加载更多 -->
<div class="load-more">加载更多...</div>
<br>