.writerImg{
    width: 40px;
    height: 40px;
}
.travelImg{
    width: 100%;
}
.authorName{
    font-size: 10px;
    color: #ff7200;
}
.text_right h4{
    color: #ff7200;
    
}
.load-more{
    width: 75%;
    text-align: center;
    margin-left:12%; 
    line-height: 35px;
    color: #ff9d00;
    height: 35px;
    background-color: #DFDFDF;
}