<!-- 标题图片开始 -->
<div class="container-fuild">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <img class="bgImg"src="assets/img/page_default.jpg" alt="">
    </div>
    <div class="smailImg">   
      <a href=""><img src="assets/img/addtop.png" alt=""></a>
      <div class="text-titel">
        <p>设置游记头图</p>  
      </div> 
     
    </div>   
  </div>

  <!-- 标题栏开始 -->
  <div class="title col-xs-8 col-xs-offset-2">
    <form class="form-horizontal">
      <div class="form-group form-group-lg">
        <label class="col-sm-2 control-label" for="formGroupInputLarge">
          <span class="xinghao">*</span>游记标题</label>
        <div class="col-sm-9">
          <input class="form-control" type="text" id="formGroupInputLarge">
        </div>
      </div>
      <div class="form-group form-group-lg">
          <label class="col-sm-2 control-label" for="formGroupInputLarge name">
            <span class="xinghao">*</span>游记分类</label>
          <div class="col-sm-9">               
            <select class="form-control">
                <option>出游攻略</option>
                <option>出游攻略</option>
                <option>出游攻略</option>
                <option>出游攻略</option>
                <option>出游攻略</option>
              </select>      
          </div>
      </div>     
    </form>
    <ueditor ></ueditor>
   </div>
  </div>
<br><br>


