.smailImg{
    position: absolute;
    left: 50%;
    top:30%;
}
.title{
    margin-top: 50px;
}
.xinghao{
    color: red;
}
.bgImg{
    width: 100%;
}
.text-titel{
    font-size: 30px;
    
}