<div class="container-fuild">
    <div class="row">
        <div class="col-xs-2 col-xs-offset-1">
            <div class="leftImage">
                <button type="button" class="btn btn-default btn-lg btn-all">
                    <span class="glyphicon glyphicon-user" aria-hidden="true"></span> 我的信息
                </button>
                <br><br>
                <button type="button" class="btn btn-default btn-lg btn-all">
                    <span class="glyphicon glyphicon-camera" aria-hidden="true"></span> 我的头像
                </button>
                <br><br>                
                <button type="button" class="btn btn-default btn-lg btn-all">
                    <span class="glyphicon glyphicon-lock" aria-hidden="true"></span> 账号安全
                </button>
            </div>
        </div>
        
        <div class="col-xs-8">
            <div class="rightImage">我的头像</div><hr>
            <img src="../../../../assets/img/user.jpeg" class="userImg">
            <div class="select">
                <button class="btn btn-warning ">选择图片</button>
            </div>
            <hr>
        </div>        
    </div>    
</div>