<!-- 标题图片开始 -->
<div class="container-fuild">   
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ">
      <img class="bgImg" src="../../../../assets/img/topimg/index-topBg2.jpg" alt=""> 
      <div class="text-titel">
        <p>一个想法从脑中闪过:来一场旅行吧!</p>
        <p class="text-smail">旅途中我想与你为伴</p>
      </div>    
    </div>     
  </div> 
</div>

<!-- 结伴热门地开始 -->
<div class="container">
  <div class="">
    <h3 class="hot">结伴热门地</h3>
  </div>
<!-- 第一行开始 -->
  <div class="row">
    <div class="col-md-3 text-align">
      <img src="../../../../assets/img/destination/hotaddress1.jpeg" alt="">
    </div>
    <div class="col-md-3 text-align">
      <img src="../../../../assets/img/destination/hotaddress2.png" alt="">
    </div>
    <div class="col-md-3 text-align">
      <img src="../../../../assets/img/destination/hotaddress3.jpeg" alt="">
    </div>
    <div class="col-md-3 text-align">
      <img src="../../../../assets/img/destination/hotaddress4.jpeg" alt="">
    </div>
  </div>
  <!-- 第一行结束 -->
  <br>
  <!-- 第二行开始 -->
  <div class="row">
      <div class="col-md-3 text-align">
        <img src="../../../../assets/img/destination/hotaddress5.png" alt="">
      </div>
      <div class="col-md-3 text-align">
        <img src="../../../../assets/img/destination/hotaddress6.jpeg" alt="">
      </div>
      <div class="col-md-3 text-align">
        <img src="../../../../assets/img/destination/hotaddress7.png" alt="">
      </div>
      <div class="col-md-3 text-align">
        <img src="../../../../assets/img/destination/hotaddress8.jpeg" alt="">
      </div>
    </div>
  <hr>
</div>


<!-- 目的地与出发日期开始 -->
<div class="container">
  <div class="row">
    <form class="form-inline">
      <div class="form-group">        
        <input type="email" class="form-control" id="exampleInputEmail3" placeholder="目的地">
      </div>
      <div class="form-group">        
        <input type="date" class="form-control" id="exampleInputPassword3" placeholder="出发时间">
      </div>      
      <button type="submit" class="btn btn-primary">
        <span class="glyphicon glyphicon-search"></span>
        查询
      </button>
      <button type="submit" class="btn btn-warning pull-right" (click)="doIsSure()">
        <span class="glyphicon glyphicon-plus"></span>
        发布我的结伴计划
      </button>
    </form>
  </div>
</div>
<br>
<!-- 目的地与出发日期结束 -->

<!-- 第一排开始 -->
<div class="container">
  <div class="row" (click)="doDetails()">
    <div class="col-md-3">
      <img src="../../../../assets/img/destination/address (1).jpeg" alt="">
      <div class="dataImg">
        <p class="dataNum"><span>12</span>天后</p>
      </div>
      <div class="wenzi">
        <h4>曼谷</h4>
        <p>我两89年的，山东人，性格开朗，不矫情不墨迹。我们机票酒店......</p>
        <img src="../../../../assets/img/userImg/user01.jpeg" class="headImg">
        <span class="winter">沧海一粟</span><br>
        <div >
          <p>已有<span class="number">16</span>人加入</p>
        </div>
        <div class="arrows"></div>
      </div>      
     </div> 

     <div class="col-md-3">
        <img src="../../../../assets/img/destination/address (1).jpeg" alt="">
        <div class="dataImg">
          <p class="dataNum"><span>12</span>天后</p>
        </div>
        <div class="wenzi">
          <h4>曼谷</h4>
          <p>我两89年的，山东人，性格开朗，不矫情不墨迹。我们机票酒店......</p>
          <img src="../../../../assets/img/userImg/user01.jpeg" class="headImg">
          <span class="winter">沧海一粟</span><br>
          <div >
            <p>已有<span class="number">16</span>人加入</p>
          </div>
          <div class="arrows"></div>
        </div>      
       </div> 

       <div class="col-md-3">
          <img src="../../../../assets/img/destination/address (1).jpeg" alt="">
          <div class="dataImg">
            <p class="dataNum"><span>12</span>天后</p>
          </div>
          <div class="wenzi">
            <h4>曼谷</h4>
            <p>我两89年的，山东人，性格开朗，不矫情不墨迹。我们机票酒店......</p>
            <img src="../../../../assets/img/userImg/user01.jpeg" class="headImg">
            <span class="winter">沧海一粟</span><br>
            <div >
              <p>已有<span class="number">16</span>人加入</p>
            </div>
            <div class="arrows"></div>
          </div>      
         </div> 

    <div class="col-md-3">
      <img src="../../../../assets/img/destination/address (1).jpeg" alt="">
      <div class="dataImg">
        <p class="dataNum"><span>12</span>天后</p>
      </div>
      <div class="wenzi">
        <h4>曼谷</h4>
        <p>我两89年的，山东人，性格开朗，不矫情不墨迹。我们机票酒店......</p>
        <img src="../../../../assets/img/userImg/user01.jpeg" class="headImg">
        <span class="winter">沧海一粟</span><br>
        <div >
          <p>已有<span class="number">16</span>人加入</p>
        </div>
        <div class="arrows"></div>
      </div>      
      </div> 
    </div>   
  <div class="row second">
    <div class="col-md-3">
      <img src="../../../../assets/img/destination/address (1).jpeg" alt="">
      <div class="dataImg">
        <p class="dataNum"><span>12</span>天后</p>
      </div>
      <div class="wenzi">
        <h4>曼谷</h4>
        <p>我两89年的，山东人，性格开朗，不矫情不墨迹。我们机票酒店......</p>
        <img src="../../../../assets/img/userImg/user01.jpeg" class="headImg">
        <span class="winter">沧海一粟</span><br>
        <div >
          <p>已有<span class="number">16</span>人加入</p>
        </div>
        <div class="arrows"></div>
      </div>      
      </div> 

  <div class="col-md-3">
    <img src="../../../../assets/img/destination/address (1).jpeg" alt="">
    <div class="dataImg">
      <p class="dataNum"><span>12</span>天后</p>
    </div>
    <div class="wenzi">
      <h4>曼谷</h4>
      <p>我两89年的，山东人，性格开朗，不矫情不墨迹。我们机票酒店......</p>
      <img src="../../../../assets/img/userImg/user01.jpeg" class="headImg">
      <span class="winter">沧海一粟</span><br>
      <div >
        <p>已有<span class="number">16</span>人加入</p>
      </div>
      <div class="arrows"></div>
    </div>      
    </div> 

<div class="col-md-3">
  <img src="../../../../assets/img/destination/address (1).jpeg" alt="">
  <div class="dataImg">
    <p class="dataNum"><span>12</span>天后</p>
  </div>
  <div class="wenzi">
    <h4>曼谷</h4>
    <p>我两89年的，山东人，性格开朗，不矫情不墨迹。我们机票酒店......</p>
    <img src="../../../../assets/img/userImg/user01.jpeg" class="headImg">
    <span class="winter">沧海一粟</span><br>
    <div >
      <p>已有<span class="number">16</span>人加入</p>
    </div>
    <div class="arrows"></div>
  </div>      
  </div> 

  <div class="col-md-3">
    <img src="../../../../assets/img/destination/address (1).jpeg" alt="">
    <div class="dataImg">
      <p class="dataNum"><span>12</span>天后</p>
    </div>
    <div class="wenzi">
      <h4>曼谷</h4>
      <p>我两89年的，山东人，性格开朗，不矫情不墨迹。我们机票酒店......</p>
      <img src="../../../../assets/img/userImg/user01.jpeg" class="headImg">
      <span class="winter">沧海一粟</span><br>
      <div >
        <p>已有<span class="number">16</span>人加入</p>
      </div>
      <div class="arrows"></div>
    </div>      
    </div> 
    </div>
  </div>
<!-- 脚注 -->

