<!-- 导航栏 -->
<app-head></app-head>

<!-- 游记 -->
<!-- 游记首页 swiper -->
<!-- <app-carousel></app-carousel> -->

<!-- 游记详情 -->
<!-- <app-travel-details></app-travel-details> -->

<!-- 发布游记 -->
<!-- <app-travel></app-travel> -->

<!-- 结伴 -->
<!-- 结伴详情 -->
<!-- <app-details></app-details> -->

<!-- 发布结伴 -->
<!-- <app-is-sue></app-is-sue> -->

<!-- 结伴 warning-->
<!-- <app-together></app-together> -->


<!-- 用户 -->
<!-- 设置-用户头像 warning-->
<!-- <app-set-user-img></app-set-user-img> -->

<!-- 设置-用户信息 -->
<!-- <app-set-user-image></app-set-user-image> -->

<!-- 设置-账号安全 -->
<!-- <app-set-pssword></app-set-pssword> -->

<!-- 我的发布-我的游记 -->
<!-- <app-myrelease></app-myrelease>    -->

<!-- 登录 -->
<!-- <app-login></app-login> -->

<!-- 注册 -->
<!-- <app-register></app-register> -->

<router-outlet></router-outlet>

<!-- 脚注 -->
<app-footer></app-footer>


















