<!-- 标题图片开始 -->
<div class="container-fuild">   
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ">
      <img class="bgImg" src="../../../../assets/img/jieban/temp.jpeg" alt="">
      <div class="text-titel">
        <p>国庆七天甘南游，旅程因有你而精彩1111111111</p>
      </div>
    </div>     
  </div>
</div>


  <!-- 国庆七天甘南游开始 -->
  <div class="container-fuild">
    <div class="row">
        <div class="col-xs-7 col-xs-offset-1">
            <h3>国庆七天甘南游，旅程因有你而精彩</h3><hr>
            <p class="_j_note_content _j_seqitem"
            style="margin-top: 0px; margin-bottom: 20px; padding: 0px; word-wrap: break-word; 
            line-height: 28px; font-size: 15px; color: rgb(68, 68, 68); text-align: justify;
            word-break: break-all; font-family: Arial, &quot;Lucida Grande&quot;, &quot;
            Microsoft Yahei&quot;, &quot;Hiragino Sans GB&quot;, &quot;Hiragino Sans GB W3&quot;, 
            SimSun, &quot;PingFang SC&quot;, STHeiti; white-space: normal;">          
            出发地:兰州<br>
            出发时间:2017-10-01<br>
            目的地:四川省青海|甘肃|甘南<br>
            大约:7天<br>
            希望人数:6人<br>
            发布人:<br>         
          </p>

          <!-- 结伴描述开始 -->
        <p><span style="font-size: 22px;">结伴描述</span></p>
        <p class="_j_note_content _j_seqitem" 
          style="margin-top: 0px; margin-bottom: 20px; padding: 0px; word-wrap: break-word; 
          line-height: 28px; font-size: 15px; color: rgb(68, 68, 68); 
          text-align: justify;word-break: break-all;font-family: Arial, &quot;Lucida Grande&quot;, 
          &quot;Microsoft Yahei&quot;,&quot;Hiragino Sans GB&quot;, &quot;Hiragino Sans GB W3&quot;, 
          SimSun, &quot;PingFang SC&quot;, STHeiti; white-space: normal;">
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          经过这几年锻炼，已经比较能适应长途飞行了。经过14小时的飞行，终于到达基督城。基督城机场并不大，
          出境卡要认真填写，不要带任何食物入境。使用过的户外设备（登山鞋、登山杖、帐篷等等都需要如实申报，
          并且在出发前清理干净上面的泥土砂石）。如果不小心带了食物，记得在下飞机前往入境处的地方就果断丢弃，
          一路上都有各种语言的提示，让你丢弃，非常重要，否则很有可能面临罚款甚至拒绝入境。
          <br><br>
        </p>
      <!-- 我要报名开始 -->
      <p><span style="font-size: 22px;">我要报名</span></p><hr>
      <form class="form-horizontal">
        <div class="form-group">
        <label for="inputTitle" class="col-sm-2 control-label">结伴人数</label>
        <div class="col-sm-10">
          <input type="email" class="form-control">
        </div>
      </div>
      <div class="form-group">
        <label for="inputTitle" class="col-sm-2 control-label">联系电话</label>
        <div class="col-sm-10">
          <input type="email" class="form-control">
        </div>
      </div>
      <div class="form-group">
        <label for="inputTitle" class="col-sm-2 control-label">同行人数</label>
        <div class="col-sm-5">
          <input type="email" class="form-control male"> 男人            
        </div>
        <div class="col-sm-5">
          <input type="email" class="form-control male">女人
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-warning">报名</button>
      </div>
      </div>
      </form>
    </div>
<!-- 10人报名开始 -->
    <div class="col-xs-3">
      <div class="apply">
        <h3><span class="number">10</span>人报名</h3>
      </div> 
      <br>
      <div>
        <img src="../../../../assets/img/userImg/user01.jpeg"  class="img-circle"><span>芝麻</span>      
        <img src="../../../../assets/img/userImg/user01.jpeg"  class="img-circle"><span>芝麻</span>
        <img src="../../../../assets/img/userImg/user01.jpeg"  class="img-circle"><span>芝麻</span>
        <img src="../../../../assets/img/userImg/user01.jpeg"  class="img-circle"><span>芝麻</span>        
      </div> 
      <br>
      <div>
          <img src="../../../../assets/img/userImg/user01.jpeg"  class="img-circle"><span>芝麻</span>      
          <img src="../../../../assets/img/userImg/user01.jpeg"  class="img-circle"><span>芝麻</span>
          <img src="../../../../assets/img/userImg/user01.jpeg"  class="img-circle"><span>芝麻</span>
          <img src="../../../../assets/img/userImg/user01.jpeg"  class="img-circle"><span>芝麻</span>        
        </div> 
        <br>      
        <div>
            <img src="../../../../assets/img/userImg/user01.jpeg"  class="img-circle"><span>芝麻</span>      
            <img src="../../../../assets/img/userImg/user01.jpeg"  class="img-circle"><span>芝麻</span>
            <img src="../../../../assets/img/userImg/user01.jpeg"  class="img-circle"><span>芝麻</span>
            <img src="../../../../assets/img/userImg/user01.jpeg"  class="img-circle"><span>芝麻</span>        
          </div>
          <br>             
          <div>
              <img src="../../../../assets/img/userImg/user01.jpeg"  class="img-circle"><span>芝麻</span>      
              <img src="../../../../assets/img/userImg/user01.jpeg"  class="img-circle"><span>芝麻</span>
              <img src="../../../../assets/img/userImg/user01.jpeg"  class="img-circle"><span>芝麻</span>
              <img src="../../../../assets/img/userImg/user01.jpeg"  class="img-circle"><span>芝麻</span>        
            </div>       
    </div>
</div>
</div>





